footer{
    background: var(--color-bg1);
}

.footer__container {
    display: grid;
    padding: 3rem 0;
    margin-top: 8rem;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 5rem;
}

.footer__container > div h4 {
    margin-bottom: 1.2rem;
}

.footer__1 p {
    margin: 0 0 2rem;
}

.footer ul li {
    margin-bottom: 0.7rem;
}

.footer ul li  {
    list-style: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer__copyright {
    text-align: center;
    margin-top: 1rem;
    padding: 2rem 0;
    border-top: 1px solid var(--color-bg2);

}


@media only screen and (max-width: 561px){

    .footer__container {
        display: grid;
        padding: 3rem 0;
        margin-top: 8rem;
        grid-template-columns: repeat(4, 1fr) ;
        gap: 1.5rem;
    }

    .footer__socials {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    
    .footer__copyright {
        padding: 1rem 0;
        font-size:12px ;
    }
    

}