

.nav-container{
    padding-top: 1.5rem ;
    /* background-color: var(--color-white); */
    justify-content:space-between;
    margin-bottom: 5rem;
}

.nav-logo{
    cursor: pointer;
    border-radius: 50%;
    width: 4%;
}

.nav-menu {
    gap: 3rem;
}

.nav-menu a {
    font-size: 12px;
}

.nav-menu {
    list-style: none;
}

.nav-btn {
    border: 1px solid var(--color-primary) ;
    color: var(--color-primary);
    border-radius:.5rem ;
    padding: .3rem .5rem;
    box-shadow: none;
}


@media only screen and (max-width: 561px){

    .nav-container{
        gap: .5rem;
    }
    
    .nav-logo{
        cursor: pointer;
        border-radius: 50%;
        width: 6%;
    }

    .nav-menu {
        gap: 1.8rem;
    }
    
}

